*{
  margin: 0;
  background-color: rgb(211, 189, 189);
}

.main{
  text-align: center;
  margin-top: 10%;
}
.time_part{

  color: orangered;
  margin-top: 20px;
}
div{
  font-weight: bolder;
  font-size: larger;
}